body {
    background-image: linear-gradient(180deg, royalblue, peachpuff);
}

.heading {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px rgb(36, 36, 36), 2px 2px rgb(49, 75, 104), 3px 3px rgb(253, 89, 89);
}
.item {
    min-height: 30rem;
    min-width: 20rem;
    padding: 30px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
    box-shadow: 5px 5px rgb(36, 36, 36), 10px 10px rgb(49, 75, 104), 15px 15px rgb(253, 89, 89);  
}

.inner-carousel {
    display: flex;    
}

.carousel {
    cursor: grab;
    overflow: hidden;    
}